# Arquivos de Sistema
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
*.tmp
npm-debug.log
yarn-error.log
libpeerconnection.log
testem.log

# Metadados de IDE (IntelliJ, Eclipse, VSCode)
.idea/
*.iml
.project
.classpath
.settings/
.c9/
*.launch
*.sublime-workspace

# Arquivos compilados do Java
*.class

# Pastas de build (Maven, Gradle)
target/
build/
out/

# Jars e outros pacotes
*.jar
*.war
*.ear

# Arquivos de dependências do Maven
.mvn/wrapper/maven-wrapper.jar

# Regras para Node.js / Angular

# Saída de compilação
dist/
tmp/
out-tsc/
bazel-out/

# Regras do Node
node_modules/

# Regras do Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Diversos
.angular/
.sass-cache/
connect.lock
coverage/
typings/
__screenshots__/