<h1 id="titulo-dialog" mat-dialog-title>
  <mat-icon>error_outline</mat-icon>
  <span id="erro-titulo">{{ dados.erroPadrao.titulo }}</span>
</h1>

<mat-dialog-content id="conteudo-dialog">
  <p id="erro-mensagem">{{ dados.erroPadrao.mensagem }}</p>

  @if (dados.listaErros.length > 0) {
  <ul id="lista-erros-validacao">
    @for (erro of dados.listaErros; track $index) {
    <li>
      <strong>{{ erro.campo }}:</strong> {{ erro.mensagem }}
    </li>
    }
  </ul>
  }
</mat-dialog-content>

<mat-dialog-actions id="acoes-dialog" align="end">
  <button mat-raised-button color="red" mat-dialog-close>Fechar</button>
</mat-dialog-actions>
