<main>
  <section>
    <h1>Login</h1>
    <h2>Acesse sua conta para organizar suas finanças</h2>

    <form [formGroup]="formulario" (ngSubmit)="aoEnviar()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          id="input-email"
          formControlName="email"
          placeholder="Digite seu e-mail"
          inputmode="email"
        />

        @if (formulario.get('email')?.invalid && (formulario.get('email')?.touched)) {
        <mat-error>{{ obterMensagemErro('email') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          id="input-senha"
          formControlName="senha"
          [type]="esconderSenha() ? 'password' : 'text'"
          placeholder="Digite sua senha"
          autocomplete="on"
        />
        <button
          mat-icon-button
          matSuffix
          id="btn-alternar-senha"
          type="button"
          (click)="alternarVisibilidadeSenha()"
          [attr.aria-label]="'Alternar visibilidade da senha'"
        >
          <mat-icon>{{ esconderSenha() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        @if (formulario.get('senha')?.invalid && (formulario.get('senha')?.touched)) {
        <mat-error>{{ obterMensagemErro('senha') }}</mat-error>
        }
      </mat-form-field>

      <div id="acoes">
        <button
          matButton="filled"
          color="primary"
          id="btn-entrar"
          type="submit"
          [disabled]="formulario.invalid"
        >
          Entrar
        </button>
      </div>

      <div id="link-cadastro">
        <p>Não tem uma conta?</p>
        <a [routerLink]="['/cadastro']">Cadastre-se</a>
      </div>
    </form>
  </section>
</main>
