<main>
  <section>
    <h1>Crie sua conta</h1>
    <h2>Comece já a organizar suas finanças</h2>

    <form [formGroup]="formulario" (ngSubmit)="aoEnviar()">
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput id="input-nome" formControlName="nome" placeholder="Digite seu nome" />

        @if (formulario.get('nome')?.invalid && (formulario.get('nome')?.touched)) {
        <mat-error>{{ obterMensagemErro('nome') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          id="input-email"
          formControlName="email"
          placeholder="Digite seu e-mail"
          inputmode="email"
        />

        @if (formulario.get('email')?.invalid && (formulario.get('email')?.touched)) {
        <mat-error>{{ obterMensagemErro('email') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          id="input-senha"
          formControlName="senha"
          [type]="esconderSenha() ? 'password' : 'text'"
          placeholder="Digite sua senha"
          autocomplete="on"
          (focus)="aoFocarSenha()"
          (blur)="aoDesfocarSenha()"
        />
        <button
          mat-icon-button
          matSuffix
          id="btn-alternar-senha"
          type="button"
          (click)="alternarVisibilidadeSenha()"
          [attr.aria-label]="'Alternar visibilidade da senha'"
        >
          <mat-icon>{{ esconderSenha() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        @if (formulario.get('senha')?.invalid && (formulario.get('senha')?.touched)) {
        <mat-error>{{ obterMensagemErro('senha') }}</mat-error>
        }
      </mat-form-field>

      @if (formulario.get('senha')?.touched || senhaEstaEmFoco()) {
      <div id="requisitos-senha">
        <div id="requisito-tamanho-minimo" [class.valid]="requisitosSenha.minLength">
          <span
            class="icone-requisito-senha"
            [innerHTML]="requisitosSenha.minLength ? '&check;' : '&times;'"
          ></span>
          8 caracteres no mínimo
        </div>

        <div id="requisito-maiuscula" [class.valid]="requisitosSenha.temMaiuscula">
          <span
            class="icone-requisito-senha"
            [innerHTML]="requisitosSenha.temMaiuscula ? '&check;' : '&times;'"
          ></span>
          1 letra maiúscula
        </div>

        <div id="requisito-minuscula" [class.valid]="requisitosSenha.temMinuscula">
          <span
            class="icone-requisito-senha"
            [innerHTML]="requisitosSenha.temMinuscula ? '&check;' : '&times;'"
          ></span>
          1 letra minúscula
        </div>

        <div id="requisito-numero" [class.valid]="requisitosSenha.temNumero">
          <span
            class="icone-requisito-senha"
            [innerHTML]="requisitosSenha.temNumero ? '&check;' : '&times;'"
          ></span>
          1 número
        </div>
      </div>
      }

      <div id="acoes">
        <button
          matButton="filled"
          color="primary"
          id="btn-cadastrar"
          type="submit"
          [disabled]="formulario.invalid"
        >
          Cadastrar
        </button>
      </div>

      <div id="link-login">
        <p>Já tem uma conta?</p>
        <a [routerLink]="['/login']">Login</a>
      </div>
    </form>
  </section>
</main>
